/*----carrousel----*/
.carrousel_wrapper {
  overflow: hidden;

  .slider_img {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.carrousel_time {
  position: relative;

  .countdown {
    position: absolute;
    left: 0;
    bottom: 0;

    .countdown {
      &_top {
        background-color: $backgroundColor;
        font-size: 45px;
        color: $main_color;
      }

      &_bottom {
        &:not(:last-child) {
          padding-left: 10px;
        }

        background-color: black;

        .countdown {
          &_time {
            background-color: $backgroundColor;
            font-size: 45px;
            color: $main_color;
          }

          &_tag {
            background-color: $backgroundColor;
            font-size: 45px;
            color: $main_color;
          }
        }
      }
    }

    .countdown_bottom_container {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
}

button {
  background-color: $main_color;
  color: black;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 4px;
  width: 150px;
  height: 40px;
  outline: none;
  text-decoration: none;
  padding: 1px;
}