/* header styling */
.header_logo {
  &-main {
    color: $main_color;
    font-size: 48px;
  }
}

/*About us section*/
.AboutUs {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;

  .card {
    border: 1px solid $main_color;
    width: 300px;
    height: 300px;
    position: relative;
    box-sizing: border-box;
    padding: 50px 20px;
    text-align: center;

    &:before {
      content: " ";
      position: absolute;
      z-index: -1;
      left: 3px;
      top: 3px;
      right: 3px;
      bottom: 3px;
      border: 1px solid $main_color;
    }

    .header {
      font-size: 40px;
    }

    .body {
      margin-top: 10px;
      font-size: 30px;
      color:white;

    }
  }
}

.highlights {
  margin: 0 auto;
  padding: 0 290px;
  .description {
    margin: 0 auto;
    .header {
      font-size: 60px;
      text-align: center;
    }

    .body {
      color: white;
      text-align: center;
      font-size: 30px;

      &:before{
      content: '';
      display: block;
      border: 1px solid $main_color;
      margin-bottom: 50px;
      }
      &:after{
      content: '';
      display: block;
      border: 1px solid $main_color;
      margin-top: 40px;
      }

    }
  }
  .ticket_description {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    .number {
      font-size: 150px;
      &:after {
        content: 'off';
        display: block;
        color:white;
        font-size: 60px;
      }
    }
    .purchase_description{
        .header {
          font-size: 40px;
          margin-bottom: 20px;
        }
        .body {
          font-size: 30px;
          color: white;
          width: 600px;
          margin-bottom: 20px;
        }
        button {
          background-color: $main_color;
          color: black;
          font-size: 20px;
          border: 1px solid black;
          border-radius: 4px;
          width: 120px;
          height: 40px;
          outline: none;
        }
    }
  }
}