/* header styling */
@mixin header {
  font-size: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.header_logo {
  &-main {
    color: $main_color;
    font-size: 48px;
  }
}

/*About us section*/
.AboutUs {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;

  .card {
    border: 1px solid $main_color;
    width: 300px;
    height: 300px;
    position: relative;
    box-sizing: border-box;
    padding: 50px 20px;
    text-align: center;

    &:before {
      content: " ";
      position: absolute;
      z-index: -1;
      left: 3px;
      top: 3px;
      right: 3px;
      bottom: 3px;
      border: 1px solid $main_color;
    }

    .header {
      font-size: 40px;
    }

    .body {
      margin-top: 10px;
      font-size: 30px;
      color: white;

    }
  }
}

.highlights {
  margin: 100px auto 0;
  padding: 0 290px;

  .description {
    margin: 0 auto;

    .header {
     @include header;
    }

    .body {
      color: white;
      text-align: center;
      font-size: 30px;

      &:before {
        content: '';
        display: block;
        border: 1px solid $main_color;
        margin-bottom: 50px;
      }

      &:after {
        content: '';
        display: block;
        border: 1px solid $main_color;
        margin-top: 40px;
      }

    }
  }

  .ticket_description {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    .number {
      font-size: 150px;

      &:after {
        content: 'off';
        display: block;
        color: white;
        font-size: 60px;
      }
    }

    .purchase_description {
      .header {
        font-size: 40px;
        margin-bottom: 20px;
      }

      .body {
        font-size: 30px;
        color: white;
        width: 600px;
        margin-bottom: 20px;
      }
    }
  }
}

.header_pricing {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 60px;
  text-align: center;
}

.pricing {
  display: flex;
  justify-content: space-evenly;
  align-content: center;

  .prices_card {
    border: 1px solid $main_color;
    box-sizing: border-box;
    padding: 50px 20px;
    max-width: 300px;
    text-align: center;
    display: inline-block;

    .header {
      font-size: 75px;
      position: relative;
      display: inline-block;

      &:after {
        content: '';
        display: inline-block;
        width: 75%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        text-align: center;
        border: 1px solid white;
      }
    }

    .body {
      margin-top: 20px;
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
}
.map {
  margin-top: 100px;
  .header {
   @include header;
  }
}